body
{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Noto Sans', sans-serif !important;
}
#thongbaoLink
{
    color: red;
    font-weight: bold;
    max-height: 1.5%;
    text-align: center;
}
.btn
{
    color: white !important;
    font-size: 14px;
    font-weight:bold;
    flex: 1;
}
.btn-line
{
    width: 100%; padding-top: 1%;
    text-align: center;
    display: flex;
    gap: 0.5%;
}
.title
{
    font-weight: bold; font-size: 16px;
}
textarea
{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
#div-top-btn
{
    padding-bottom: 1%;
}
#btn-temp
{
    width: 100%;
}
#current-version {
  display: block;
  width: fit-content;
  margin: 0px auto;
  padding-top: 1%;
  font-size: 15px;
  font-weight: bold;
  color: #0066cc;
  text-decoration: none;
}